body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}
body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
body{
margin:0;
padding:0;
background-color: #eff1f1;
font-family:Arial,Helvetica,sans-serif;
font-size: 4.25vw;
width: 100%;
height:100%;
}
a,a:visited {
  color: inherit; /* 继承链接所在元素的字体颜色 */
  text-decoration: none; /* 去掉下划线等文本修饰 */
}
.bbb1{
float: left;width: 100%;
padding:4vw 0;
background-color:rgba(0,0,0,0.03);
}
#loading {
position: fixed;
  justify-content: center;
  align-items: center;
}
/* 加载动画 */
.loading-mask {
  width: 100%;
/*  height: 70%; */
/*  margin-top:30%;*/
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: transparent;
}
.loading-box{
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-box img{
  width: 80px;
}
@keyframes ldio {
   0% { transform: translate(6px,40px) scale(0); }
  25% { transform: translate(6px,40px) scale(0); }
  50% { transform: translate(6px,40px) scale(1); }
  75% { transform: translate(40px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(1); }
}
@keyframes ldio-r {
   0% { transform: translate(74px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(0); }
}
@keyframes ldio-c {
   0% { background: #e15b64 }
  25% { background: #abbd81 }
  50% { background: #f8b26a }
  75% { background: #f47e60 }
 100% { background: #e15b64 }
}
.ldio div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(40px,40px) scale(1);
  background: #e15b64;
  animation: ldio 3.7037037037037033s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio div:nth-child(1) {
  background: #f47e60;
  transform: translate(74px,40px) scale(1);
  animation: ldio-r 0.9259259259259258s infinite cubic-bezier(0,0.5,0.5,1), ldio-c 3.7037037037037033s infinite step-start;
}
.ldio div:nth-child(2) {
  animation-delay: -0.9259259259259258s;
  background: #e15b64;
}
.ldio div:nth-child(3) {
  animation-delay: -1.8518518518518516s;
  background: #f47e60;
}
.ldio div:nth-child(4) {
  animation-delay: -2.7777777777777777s;
  background: #f8b26a;
}
.ldio div:nth-child(5) {
  animation-delay: -3.7037037037037033s;
  background: #abbd81;
}
.loadingio-spinner-ellipsis {
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.8);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio div { box-sizing: content-box; }
.bjh{
background-color:#EE7942;
color:#fff;
}
.bjb{
background-color:#fff;
color:#000;
}
header{
width: 100%;
position: fixed;
top:0;
z-index:1001;
background-color: #eff1f1;
}
header .top{
float: left;
padding:2.67vw 2.67vw;
display: inline-block;
}
header .topleft{
float: left;color:#fff;
}
header .topright{
float: right;
}
header .topright span{position:absolute;width:6.6vw;height:8.8vw;color:#fff;}
header .topright span.menu{top:1.866vw;right:3vw;background-size:8vw auto;-webkit-background-size:8vw auto;background-position:0 -13.4vw}
header .menu-list{
position:absolute;
top:11.2vw;
right:2.4vw;
z-index:1001;
background-color: #fff;
background-image: linear-gradient(rgba(255,0,0,0.01), rgba(255,0,0,0.06), rgba(255,0,0,0.08));
width: 27.8vw;
padding:1.333vw 0;
border: 1px solid rgba(0,0,0,0.03);
border-radius: 8px;
text-align: center;
}
header .menu-list .list-center{
padding:0.8vw 2.67vw;
margin:2.1vw 2.1vw;
border: 1px solid #EE7942;
border-radius: 5px;
text-align: center;
}
.index{
float: left;
margin-top:11.8vw;
width: 100%;
//background-color: rgba(0,0,0,0.06);
background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.01), rgba(0,0,0,0.02), rgba(0,0,0,0.03));
}
.indexk{
float: left;
width: 100%;
padding-bottom:2.666vw;
}
.indexkj{
padding:0 2.67vw;
}
.indexkj .mun{
float: left;
width: 100%;
border-bottom: 2px solid #EE7942;
}
.indexkj .mun .lan{
display: inline-block;
margin-right:1.3vw;
padding: 1.3vw 1.3vw;
border-radius: 8px 8px 0 0 ;
box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
}
.indexkj .kj{
float: left;
width: 100%;
padding: 1.333vw 0;
border-radius: 0 0 8px 8px ;
box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
background-color: #fff;
margin-bottom:2.133vw;
display: inline-block;
}
.indexkj .kj-left{
float: left;
display: inline-block;
}
.indexkj .kj-right{
float: right;
width: 22vw;
height: 22vw;
border-radius: 50%;
margin:4vw 1.86vw 0 0;
}
.indexkj .kj-sj{
padding:2.133vw 1.86vw;
}
.indexkj .kj-sj .h{
color:#f43;margin:0 0.8vw;font-size: 4.266vw;
}
.indexkj .kj-sj .d{
color:#808080;margin-left:1.6vw;
}
.indexkj .kj-djs{
padding:2.666vw 2.67vw;text-align: center;height:6.133vw;
}
.indexkj .kj-djs .t-num {
    padding:0.533vw 1.33vw;
    background-color: #EE7942;
    border-radius: 5px;
    font-size: 5.333vw;
    font-weight: 600;
    color: #fff;
border: 1px solid rgba(0,0,0,0.1);
  }
.indexkj .kj-djs .t-dv {
    font-size: 5.33vw;
    font-weight: 600;
    color: #000;
margin:0 1.33vw
  }
.indexkj .kj-djs .t-tian {
    font-size: 4.25vw;
    font-weight: 600;
    color: #EE7942;
margin:1px;
  }
.indexkj .kj-hm{
float: left;
width: 96%;
display: inline-block;margin:1.333vw 2.133vw 0 2.133vw;
}
.indexkj .kj-hm h2{width: 100%;margin-top: 1.533vw;margin-left:-0.88vw;font-size: 5.5vw; text-align: center;font-weight:normal;}
.indexkj .kj-hm li{list-style-type: none;}
.indexkj .kj-hm .sx{width: 10.66vw;line-height: 9.333vw;text-align: center;margin-left:-0.5vw;font-size: 4.8vw;}
.indexkj .kj .f{
float: left;
border-top: 2px solid rgba(255,127,80,0.8);
width: 100%;
}
.indexkj .kj .kjjl{
float: left;
width: 100%;
}
.indexkj .kj .kjjl .t{
display: inline-block;float: left;
    font-size: 4.8vw;font-weight: bold;
    color:#000;padding: 2.666vw 2.67vw;
}
.indexkj .kj .kjjl .kjjlspan{
float: right;margin-top:0.8vw;padding: 2.666vw 2.67vw;
}
.indexkj .kj .kjjl .kjjlspan span{
margin:0 1.333vw;
padding:0.8vw 2.13vw;
font-size: 4vw;
font-weight:normal;
border: 1px solid #EE7942;border-radius: 8px;
}
.lotery-list .kjjl-left{
float: left;
border-top: 1px solid rgba(0,0,0,0.03);
width: 100%;
}
.lotery-list .kj-hm h.wx{
display: none;
}
.lotery-kj{
border-top: 2px solid #F8F8FF;
padding-top:1.6vw;
margin:0;
width: 100%;
display: inline-block;
}
.lotery-kj .lotery-kj-left{
float: left;
}
.lotery-kj .lotery-kj-right{
float: right;
}
.lotery-kj .lotery-kj-sj{
margin-left:1.333vw;line-height: 7.333vw;font-size: 3.8vw;margin-top:0.355vw;
}
.lotery-kj .lotery-kj-sj .lotery-h{
color:#f43;margin:0 0.5px;
}
.lotery-kj .lotery-kj-sj .lotery-d{
color:#808080;margin-left:0.83vw;
}
.lotery-kj .lotery-kj-hm{
width: 70%;
display: inline-block;
margin:0 1.333vw 0 0.333vw;
}
.lotery-kj .lotery-kj-hm h2{width: 100%;margin-top: 1.18vw;margin-left:-0.66vw;font-size: 4.5vw; text-align: center;font-weight:normal;}
.lotery-kj .lotery-kj-hm li{list-style-type: none;}
.lotery-kj .lotery-kj-hm .lotery-sx{width: 8vw;line-height: 6.933vw;text-align: center;margin-left:-0.3vw;font-size: 3.8vw;}
.lotery-kj p{
margin: 0px;
margin-left:-0.8vw;
}
.lotery-kj h.wx{
display: none;
}
.load-more{
float: left;
width: 100%;
text-align: center;
padding:4vw 0;
}
.load-more span{
color:#EE7942;
background-color:rgba(265,0,0,0.03);
border: solid 1px #EE7942;
border-radius: 5px;
padding:1.333vw 13.333vw;
font-size: 4.266vw;
letter-spacing: 1px;
}
#kjYearList{
float: left;
//padding:0 2.666vw;
width: 100%;
background-color:#fff;
line-height: 8vw;
text-align: center;
margin-bottom:2.666vw;
display: inline-block;
text-align: center;
}
#kjYearList li{
background-color:#fff;
font-size: 3.8vw;
font-family: inherit;
color: #666;
list-style: none;
display: inline-block;
padding:1px 0;
border: solid 1px #eee;
border-radius: 5px;
line-height: 5.333vw;
margin:0 0.4vw;
width: 14.6%;
text-align: center;
}
.indexkj .nr{
float: left;
width: 100%;
padding-bottom: 5px;
margin-bottom:8px;
border-radius: 8px ;
box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
background-color: #fff;
}
.indexkj .nr .gs{
    margin:2.133vw 2.133vw;
}
.indexkj .nr .gs .t{
    display: inline-block;
    font-size: 4.8vw;font-weight: bold;
    color:#000;
}
.indexkj .nr .gs .t span{
    font-size: 3.73vw;font-weight:normal;
    color:#808080;margin-left:3.46vw;
}
.bottom{
display:none;
width: 100%;
position: fixed;
bottom:0;
z-index:1001;
background-color: transparent;
}
.bottom .center{
width: 100%;
float: left;
padding:0px 2.67vw;
display: inline-block;
}
.bottom .center .bottom-center{
display: inline-block;
width: 21%;
padding:5px 2.67vw;
margin:6.5px;
border: 1px solid #EE7942;
border-radius: 5px;
text-align: center;
}


/*开奖日期*/
.holidayCalendar * {
    margin: 0;
    padding: 0;
}
.holidayCalendar {
    font-family: "Microsoft Yahei";
    font-size: 3vw;
    color: #DCDCDC;
}
.holidayCalendar a, .holidayCalendar a:hover {
    color: #888;
    text-decoration: none;
}
.holidayCalendar ul, .holidayCalendar li {
    list-style: none;margin:0.8vw 0;
}
.holidayCalendar {
    display: none;
    width:90vw;
    //padding-bottom: 2.666vw;
    margin: 0px auto 0;
    background-color: #fff;
    border-radius: 6px;
}
.holidayCalendar-title {
    position: relative;
    height: 8vw;
    line-height: 8vw;
    padding: 2.666vw 0;
}
.holidayCalendar-title a.title {
    display: inline-block;
    font-size: 4.26vw;
    text-indent: 2.66vw;padding: 0 2.67vw;
}
.holidayCalendar-title a.kjrq {
    display: inline-block;
    font-size: 4.8vw;font-weight: bold;
    text-indent: 0px;color:#000;
}
#backToday {
    position: absolute;
    left: 40%;
    top: 4vw;
    width: 5.34vw;
    height: 5.34vw;
    line-height: 5.34vw;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #44b549;
    font-size: 3.46vw;
}
.holidayCalendar-title .arrow {
    position: absolute;
    top: 2.666vw;
    right: 0;
    width: 40vw;
}
.holidayCalendar-title .arrow span {
    color: #ddd;
    font-size: 6.93vw;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.holidayCalendar-title .arrow span:hover {
    color: #888;
}
.holidayCalendar-title .arrow .arrow-disabled:hover {
    color: #ddd;
    cursor: no-drop;
}
.holidayCalendar-title .arrow-prev {
    float: left;
}
.holidayCalendar-title .arrow-next {
    float: right;
}
.holidayCalendar-week,
.holidayCalendar-date {
    overflow: hidden;
}
.holidayCalendar-week .item,
.holidayCalendar-date .item {
    float: left;
    width:8vw;
    height: 8vw;
    line-height: 8vw;
    text-align: center;border-radius: 50%;margin-left:2.28vw;margin-right:2.68vw;
}
.holidayCalendar-week {
    padding-bottom: 6px;
    border-bottom: 0px solid #44b549;
    font-weight: bold;
    font-size: 4.266vw;color: #888;
}
.holidayCalendar-date {}
.holidayCalendar-date div{
float: left;
    width: 100%;
}
.holidayCalendar-date .item {
    cursor: pointer;
    font-size: 3.733vw;
    border-bottom: 0px solid #ccc;border-radius: 50%;
}
.holidayCalendar-date .item:hover,
.holidayCalendar-date .item-curMonth:hover {
    background-color: #f0f0f0;
}
.holidayCalendar-date .item-curMonth {
    color: #333;
}
.holidayCalendar-date .item-curDay,
.holidayCalendar-date .item-curDay:hover {
    color: #fff;
    background-color: rgb(68,181,73,0.8);
}
.holidayCalendar-date .item-holiday {
    color: #e02d2d;
    position:relative;box-shadow: 0px 0px 1px 0px rgba(255,0,0,1);border-radius: 50%;
    //background-color:#FFFAFA;
}
.holidayCalendar-date .item-holiday:after {
    content: '开';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 1.866vw;
    height: 1.866vw;
    color: #fff;
    background: rgba(255,0,0,0.6);
    text-align: left;
    text-indent: 1px;
    line-height: 1.866vw;font-size: 1.333vw;
    overflow: hidden;
}
.holidayCalendar-date .item-holiday1 {
    //color: #e02d2d;
    position:relative;box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);border-radius: 50%;
    //background-color:#FFFAFA;
}
.holidayCalendar-date .item-holiday1:after {
    content: '已开';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 3.8vw;
    height: 1.866vw;
    color: #fff;
    background: rgba(0,0,0,0.5);
    text-align: left;
    text-indent: 1px;
    line-height: 1.866vw;font-size: 5px;
    overflow: hidden;
}
.holidayCalendar-date .item-workingDay{
    color: #e02d2d;
    //background-color: #FFFAFA;
    position:relative;box-shadow: 0px 0px 1px 0px rgba(255,165,0,1);border-radius: 50%;
}
.holidayCalendar-date .item-workingDay:after {
    content: '金';
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 1.866vw;
    height: 1.866vw;
    color: #fff;
    background: #FFC300;
    text-align: left;
    text-indent: 1px;
    line-height: 1.866vw;
    overflow: hidden;font-size: 5px;
}
.holidayCalendar-date .item-workingDay1{
    //color: #e02d2d;
    //background-color: #FFFAFA;
    position:relative;box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);border-radius: 50%;
}
.holidayCalendar-date .item-workingDay1:after {
    content: '金';
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 1.866vw;
    height: 1.866vw;
    color: #fff;
    background: rgba(0,0,0,1);
    text-align: left;
    text-indent: 1px;
    line-height: 1.866vw;
    overflow: hidden;font-size: 5px;
}
.holidayCalendar-today {
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 13.3vw;
    width: 16.533vw;
    height: 22.66vw;
    padding: 1.6vw 0.8vw;
    background-color: #44b549;
    border-radius: 5px;
}
.holidayCalendar-today .triangle {
    position: absolute;
    top: 20%;
    left: 6.933vw;
    margin-top: -9.333vw;
    border-width: 2.133vw;
    border-style: solid;
    border-color: transparent transparent #44b549 transparent;
}
.holidayCalendar-today p {
    color: #fff;
    font-size: 3vw;
    line-height: 3.733vw;
}
